#Home {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  #addText {
    position: absolute;
    top: 20px;
    left: 70px;
  }
  #viewListData{
    position: absolute;
    top: 20px;
    left: 110px;
  }
  #dataBase{
    position: absolute;
    top: 20px;
    left: 150px;
  }

  #img-home, #img-addText,#img-listData, #img-dataBase {
    width: 30px;
    transition: width 1s ease;
  }

  #img-home:hover, #img-addText:hover, #img-listData:hover, #img-dataBase:hover {
    width: 50px;
  }
  #submit-btn{
    display: block;
    margin: 0 auto;
  }
  /* header {
    display: block;
    height: 100px;
  }
  header div {
    margin: 10px 20px;
  } */

