.quiz-container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    max-width: 450px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 25.6px; /* 1.6rem = 25.6px */
    color: #333;
    margin-bottom: 20px;
  }
  
  .choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .choice-btn {
    height: 50px;
    padding: 12px 20px;
    font-size: 16px; /* 1rem = 16px */
    color: #00BFFF;
    border: 1px dashed #00F5FF;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .choice-btn:hover {
    background-color: hsl(180, 73%, 83%, 0.2);
    transform: translateY(-2px);
  }
  
  .choice-btn.correct {
    background-color: rgb(9, 255, 0, 0.3);
  }
  
  .choice-btn.wrong {
    background-color: rgb(255, 0, 0, 0.1);
  }
  
  .choice-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  #quiz-feedback {
    font-weight: bold;
    font-size: 16px; /* 1rem = 16px */
    margin: 15px 0;
    color: #333;
  }
  
  #quiz-feedback.correct {
    color: #28a745;
  }
  
  #quiz-feedback.wrong {
    color: #dc3545;
  }
#next-question-btn{
    background: linear-gradient(135deg, #0099ff, #66ccff);
}
button {
  padding: 10px 20px;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}