  .container-all {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: #f4f4f9; */
  }

  .container {
    text-align: center;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  h1 {
    margin-bottom: 20px;
    color: #333;
  }



  .flashcard {
    position: relative;
    width: 700px;
    height: 350px;
    perspective: 1000px;
    /* Tạo chiều sâu 3D */
    margin: 20px auto;
  }

  .flashcard-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    /* Thời gian hiệu ứng lật */
  }

  .flashcard.flip .flashcard-inner {
    transform: rotateX(180deg);
    /* Lật theo trục X (dưới lên) */
  }

  .flashcard-front,
  .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Ẩn mặt sau khi chưa lật */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
  }

  .flashcard-front {
    background: #ffefd5;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    color: #333;
    border: 1px solid #ffa500;
    text-align: justify;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .flashcard-back {
    background: repeating-linear-gradient(to right, #EE7600, #FF8C00);
    color: white;
    border: 1px solid #ff8c00;
    transform: rotateX(180deg);
    /* Mặt sau lật ngược */
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  button {
    /* padding: 10px 10px; */
    margin:  0 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* #flip-btn:hover {
    background-color: #ff8c00;
  } */

  /*  */
  #next-flashcard-btn,
  #flip-btn,
  #prev-flashcard-btn,
  #switch-to-quiz-btn,
  .button-flash {
    padding: 10px 20px;
    background: linear-gradient(135deg, #0099ff, #66ccff);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
    font-size: 15px;
    width: 100px;
  }

  /* #switch-to-quiz-btn{
    width: 145px;
  } */

  #next-flashcard-btn:hover,
  #flip-btn:hover,
  #switch-to-quiz-btn:hover,
  #prev-flashcard-btn:hover,
  .button-flash:hover {
    background: linear-gradient(135deg, #003cff, #0099ff);
    box-shadow: 0 8px 15px rgba(0, 0, 255, 0.2);
    transform: scale(1.05);
  }

  /* CSS THÍCH ỨNG */
  /* Dành cho iPad (kích thước màn hình từ 768px đến 1024px) */
  /* @media screen and (min-width: 768px) and (max-width: 1024px) {} */

  /* Dành cho điện thoại (kích thước màn hình dưới 768px) */
  /* @media screen and (max-width: 768px) {

  } */